.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
*.class
*.hprof
bin/functionalTest/
bin/integrationTest/
bin/main/
bin/smokeTest/
bin/test/
bin/generated-sources/
bin/arm_responses/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea/*
!.idea/codeStyles/
/out
*.iws
*.iml
*.ipr

.DS_Store

applicationinsights-agent-*.jar
*.log
/.idea/
