version: '2.1'

services:
  darts-api:
    container_name: darts-api
    depends_on:
      - darts-db
      - darts-redis
    environment:
      - DARTS_API_DB_HOST=darts-db
      - DARTS_API_DB_NAME=darts
      - DARTS_API_DB_USERNAME=darts
      - DARTS_API_DB_PASSWORD=darts
      - DARTS_API_DB_SCHEMA=darts
      - SPRING_PROFILES_ACTIVE=local
      - AAD_B2C_CLIENT_ID
      - AAD_B2C_CLIENT_SECRET
      - AAD_B2C_TENANT_ID
      - GOVUK_NOTIFY_API_KEY
      - AAD_B2C_ROPC_CLIENT_ID
      - AAD_B2C_ROPC_CLIENT_SECRET
      - AZURE_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://127.0.0.1:10000/devstoreaccount1;
      - AAD_TENANT_ID
      - AAD_CLIENT_ID
      - AAD_CLIENT_SECRET
      - AAD_TENANT_ID_JUSTICE
      - AAD_CLIENT_ID_JUSTICE
      - AAD_CLIENT_SECRET_JUSTICE
      - XHIBIT_USER_NAME
      - XHIBIT_PASSWORD
      - CPP_USER_NAME
      - CPP_PASSWORD
      - DARPC_USER_NAME
      - DARPC_PASSWORD
      - DAR_MIDTIER_USER_NAME
      - DAR_MIDTIER_PASSWORD
      - AZURE_AD_FUNCTIONAL_TEST_USERNAME
      - AZURE_AD_FUNCTIONAL_TEST_PASSWORD
      - TESTING_SUPPORT_ENDPOINTS_ENABLED=true
      - SYSTEM_USER_EMAIL
      - REDIS_CONNECTION_STRING=redis://darts-redis:6379
      - REDIS_SSL_ENABLED=false
      - DARTS_GATEWAY_URL=http://darts-gateway:8070
      - AZURE_AD_FUNCTIONAL_TEST_GLOBAL_USERNAME
      - AZURE_AD_FUNCTIONAL_TEST_GLOBAL_PASSWORD
      - ARM_SAS_ENDPOINT
      - DETS_SAS_URL_ENDPOINT
      - ARM_USERNAME
      - ARM_PASSWORD
      - ARM_SERVICE_PROFILE
      - ARM_URL=http://darts-stub-services:4551
      - ACTIVE_DIRECTORY_B2C_BASE_URI=https://hmctsstgextid.b2clogin.com
      - ACTIVE_DIRECTORY_B2C_AUTH_URI=https://hmctsstgextid.b2clogin.com/hmctsstgextid.onmicrosoft.com
      - MAX_FILE_UPLOAD_SIZE_MEGABYTES=350
      - MAX_FILE_UPLOAD_REQUEST_SIZE_MEGABYTES=360
      - DARTS_INBOUND_STORAGE_SAS_URL
      - DARTS_UNSTRUCTURED_STORAGE_SAS_URL
      - ARM_SERVICE_ENTITLEMENT
      - ARM_STORAGE_ACCOUNT_NAME
    build:
      context: .
      dockerfile: Dockerfile
    image: darts-api:latest
    ports:
      - "4550:4550"
    networks:
      - darts-network

  darts-gateway:
    image: sdshmctspublic.azurecr.io/darts/gateway:latest
    ports:
      - "8070:8070"
    networks:
      - darts-network

  darts-stub-services:
    image: sdshmctspublic.azurecr.io/darts/stub-services:latest
    ports:
      - "4551:4551"
    networks:
      - darts-network

  darts-db:
    container_name: darts-db
    image: postgres:16-alpine # Maintain this such that we track the version deployed in higher environments
    restart: always
    environment:
      - POSTGRES_USER=darts
      - POSTGRES_PASSWORD=darts
      - POSTGRES_DB=darts
    command: [ "postgres", "-c", "log_statement=all" ]
    ports:
      - "5432:5432"
    volumes:
      - darts-db:/var/lib/postgresql/data
    networks:
      - darts-network

  darts-redis:
    container_name: darts-redis
    image: redis:8.0.3-alpine
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - darts-cache:/var/lib/redis/data
    networks:
      - darts-network

  darts-portal:
    image: sdshmctspublic.azurecr.io/darts/portal:latest
    depends_on:
      - darts-redis
    ports:
      - "3000:3000"
    environment:
      ALLOW_CONFIG_MUTATIONS: true
      DARTS_PORTAL_URL: http://localhost:3000
      DARTS_API_URL: http://darts-api:4550
      DARTS_SESSION_REDIS_CONNECTION_STRING: redis://darts-redis:6379
    networks:
      - darts-network

  darts-blob-storage:
    container_name: darts-blob-storage
    image: mcr.microsoft.com/azure-storage/azurite
    ports:
      - "10000:10000"
      - "10001:10001"
      - "10002:10002"
    networks:
      - darts-network

volumes:
  darts-db:
    driver: local
  darts-cache:
    driver: local

networks:
  darts-network:
    driver: bridge