management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus, metrics
spring:
  cloud:
    azure:
      active-directory:
        enabled: false
  autoconfigure:
    exclude:
      - "org.springframework.boot.actuate.autoconfigure.security.servlet.ManagementWebSecurityAutoConfiguration"
      - "org.springframework.boot.autoconfigure.security.servlet.SecurityAutoConfiguration"
  flyway:
    locations: classpath:db/migration/common,db/migration/postgres,db/migration/dev

darts:
  storage:
    arm-api:
      arm-username: ${ARM_USERNAME:dev-username}
      arm-password: ${ARM_PASSWORD:dev-password}
      arm-service-profile: ${ARM_SERVICE_PROFILE:dev-profile}
      url: ${ARM_URL:http://localhost:4551}
      version5-2:
        authentication:
          auth-base-url: ${ARM_AUTH_URL:http://localhost:4551}
        api:
          api-base-url: ${ARM_API_URL:http://localhost:4551}

logging:
  level:
    uk.gov.hmcts.darts: DEBUG
    org.springframework.web.servlet.mvc.method.annotation: DEBUG
    org.springframework.web: DEBUG
