{
  "operation": "create_record",
  "relation_id": <EODID>,
  "record_metadata": {
    "record_class": "DARTS",
    "publisher": "DARTS",
    "region": "GBR",
    "recordDate": "<<RECORD_DATE>>",
    "event_date": "<<EVENT_DATE>>",
    "title": "<<FILENAME>>",
    "client_identifier": "<<CLIENT_IDENTIFIER>>",
    "contributor": "<<CONTRIBUTOR>>",
    "bf_001": "Annotation",
    "bf_002": "<<CASE_NUMBERS>>",
    "bf_003": "<<FILE_TYPE>>",
    "bf_004": "<<HEARING_DATE>>",
    "bf_005": "<<CHECKSUM>>",
    "bf_009": "<<COMMENTS>>",
    "bf_011": "<<CREATED_DATE_TIME>>",
    "bf_012": <<OBJECT_ID>>,
    "bf_013": <<PARENT_ID>>,
    "bf_016": "<<UPLOADED_BY>>",
    "bf_019": "<<COURTHOUSE>>",
    "bf_020": "<<COURTROOM>>"
  }
}
{
  "operation": "upload_new_file",
  "relation_id": <<RELATION_ID>>,
  "file_metadata": {
     "publisher": "DARTS",
     "dz_file_name": "<<DZ_FILE_NAME>>",
     "file_tag": "<<FILE_TAG>>"
  }
}
