apiVersion: v2
appVersion: "1.0"
description: A Helm chart for darts-api App
name: darts-api
home: https://github.com/hmcts/darts-api
version: 0.0.35
maintainers:
  - name: HMCTS darts team
dependencies:
  - name: java
    version: 4.2.0
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
  - name: function
    version: 2.3.7
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo'
