java:
  # Don't modify below here
  image: ${IMAGE_NAME}
  devmemoryRequests: "1Gi"
  devcpuRequests: "250m"
  devmemoryLimits: "2Gi"
  devcpuLimits: "1500m"
  ingressHost: ${SERVICE_FQDN}
  keyVaults:
    darts:
      secrets:
        - name: GovukNotifyTestApiKey
          alias: GOVUK_NOTIFY_API_KEY
        - name: api-POSTGRES-USER
          alias: DARTS_API_DB_USERNAME
        - name: api-POSTGRES-PASS
          alias: DARTS_API_DB_PASSWORD
        - name: api-POSTGRES-HOST
          alias: DARTS_API_DB_HOST
        - name: api-POSTGRES-DATABASE
          alias: DARTS_API_DB_NAME
        - name: api-POSTGRES-SCHEMA
          alias: DARTS_API_DB_SCHEMA
        - name: AzureAdB2CTenantId
          alias: AAD_B2C_TENANT_ID
        - name: AzureAdB2CClientId
          alias: AAD_B2C_CLIENT_ID
        - name: AzureAdB2CClientSecret
          alias: AAD_B2C_CLIENT_SECRET
        - name: AzureAdB2CFuncTestROPCUsername
          alias: FUNC_TEST_ROPC_USERNAME
        - name: AzureAdB2CFuncTestROPCPassword
          alias: FUNC_TEST_ROPC_PASSWORD
        - name: AzureADFunctionalTestUsername
          alias: AZURE_AD_FUNCTIONAL_TEST_USERNAME
        - name: AzureADFunctionalTestPassword
          alias: AZURE_AD_FUNCTIONAL_TEST_PASSWORD
        - name: AzureAdB2CFuncTestROPCClientId
          alias: AAD_B2C_ROPC_CLIENT_ID
        - name: AzureAdB2CFuncTestROPCClientSecret
          alias: AAD_B2C_ROPC_CLIENT_SECRET
        - name: AzureStorageConnectionString
          alias: AZURE_STORAGE_CONNECTION_STRING
        - name: api-POSTGRES-CONNECTION-STRING
          alias: DARTS_API_DB_CONNECTION_STRING
        - name: AzureADTenantId
          alias: AAD_TENANT_ID
        - name: AzureADClientId
          alias: AAD_CLIENT_ID
        - name: AzureADClientSecret
          alias: AAD_CLIENT_SECRET
        - name: AzureADTenantIdJustice
          alias: AAD_TENANT_ID_JUSTICE
        - name: AzureADClientIdJustice
          alias: AAD_CLIENT_ID_JUSTICE
        - name: AzureADClientSecretJustice
          alias: AAD_CLIENT_SECRET_JUSTICE
        - name: XhibitUserName
          alias: XHIBIT_USER_NAME
        - name: XhibitPassword
          alias: XHIBIT_PASSWORD
        - name: CppUserName
          alias: CPP_USER_NAME
        - name: CppPassword
          alias: CPP_PASSWORD
        - name: DarPcUserName
          alias: DARPC_USER_NAME
        - name: DarPcPassword
          alias: DARPC_PASSWORD
        - name: DarMidTierUserName
          alias: DAR_MIDTIER_USER_NAME
        - name: DarMidTierPassword
          alias: DAR_MIDTIER_PASSWORD
        - name: DartsSystemUserEmail
          alias: SYSTEM_USER_EMAIL
        - name: redis-connection-string
          alias: REDIS_CONNECTION_STRING
        - name: AzureAdB2CFuncTestROPCGlobalUsername
          alias: AZURE_AD_FUNCTIONAL_TEST_GLOBAL_USERNAME
        - name: AzureAdB2CFuncTestROPCGlobalPassword
          alias: AZURE_AD_FUNCTIONAL_TEST_GLOBAL_PASSWORD
        - name: ARMSasEndpoint
          alias: ARM_SAS_ENDPOINT
        - name: DETSSasURLEndpoint
          alias: DETS_SAS_URL_ENDPOINT
        - name: ArmUsername
          alias: ARM_USERNAME
        - name: ArmPassword
          alias: ARM_PASSWORD
        - name: ArmServiceProfile
          alias: ARM_SERVICE_PROFILE
        - name: DartsInboundStorageSasUrl
          alias: DARTS_INBOUND_STORAGE_SAS_URL
        - name: DartsUnstructuredStorageSasUrl
          alias: DARTS_UNSTRUCTURED_STORAGE_SAS_URL
        - name: ArmServiceEntitlement
          alias: ARM_SERVICE_ENTITLEMENT
        - name: ArmStorageAccountName
          alias: ARM_STORAGE_ACCOUNT_NAME
  environment:
    ENABLE_FLYWAY: true
    MANUAL_DELETION_ENABLED: true
    RUN_DB_MIGRATION_ON_STARTUP: true
    DARTS_API_DB_HOST: "darts-modernisation-dev.postgres.database.azure.com"
    DARTS_API_DB_NAME: "pr-${CHANGE_ID}-darts"
    DARTS_API_DB_USERNAME: "hmcts"
    spring.profiles.active: dev
    TESTING_SUPPORT_ENDPOINTS_ENABLED: true
    DARTS_GATEWAY_URL: "http://darts-gateway.staging.platform.hmcts.net"
    DARTS_PORTAL_URL: "https://darts.staging.apps.hmcts.net"
    AUTOMATED_TASK_MODE: true
    API_MODE: true

  secrets:
    DARTS_API_DB_PASSWORD:
      secretRef: "postgres"
      key: PASSWORD
      disabled: false

postgresql:
  enabled: true
  flexibleserver: "darts-modernisation-dev"
  setup:
    databases:
      - name: "pr-${CHANGE_ID}-darts"

# function:
#   scaleType: Job
#   image: ${IMAGE_NAME}
#   aadIdentityName: darts
#   pollingInterval: 300 # every 5 mins, but this should probably be configurable per env
#   minReplicaCount: 0
#   maxReplicaCount: 2
#   scalingStrategy: accurate
#   keyVaults:
#     "darts":
#       secrets:
#         - name: GovukNotifyApiKey
#           alias: GOVUK_NOTIFY_API_KEY
#         - name: api-POSTGRES-USER
#           alias: DARTS_API_DB_USERNAME
#         - name: api-POSTGRES-PASS
#           alias: DARTS_API_DB_PASSWORD
#         - name: api-POSTGRES-HOST
#           alias: DARTS_API_DB_HOST
#         - name: api-POSTGRES-DATABASE
#           alias: DARTS_API_DB_NAME
#         - name: api-POSTGRES-SCHEMA
#           alias: DARTS_API_DB_SCHEMA
#         - name: AzureAdB2CTenantId
#           alias: AAD_B2C_TENANT_ID
#         - name: AzureAdB2CClientId
#           alias: AAD_B2C_CLIENT_ID
#         - name: AzureAdB2CClientSecret
#           alias: AAD_B2C_CLIENT_SECRET
#         - name: app-insights-connection-string
#           alias: app-insights-connection-string
#         - name: AzureAdB2CFuncTestROPCClientId
#           alias: AAD_B2C_ROPC_CLIENT_ID
#         - name: AzureAdB2CFuncTestROPCClientSecret
#           alias: AAD_B2C_ROPC_CLIENT_SECRET
#         - name: AzureStorageConnectionString
#           alias: AZURE_STORAGE_CONNECTION_STRING
#         - name: api-POSTGRES-CONNECTION-STRING
#           alias: DARTS_API_DB_CONNECTION_STRING
#         - name: AzureADTenantId
#           alias: AAD_TENANT_ID
#         - name: AzureADClientId
#           alias: AAD_CLIENT_ID
#         - name: AzureADClientSecret
#           alias: AAD_CLIENT_SECRET
#         - name: AzureADTenantIdJustice
#           alias: AAD_TENANT_ID_JUSTICE
#         - name: AzureADClientIdJustice
#           alias: AAD_CLIENT_ID_JUSTICE
#         - name: AzureADClientSecretJustice
#           alias: AAD_CLIENT_SECRET_JUSTICE
#   environment:
#     ATS_MODE: true
#     POSTGRES_SSL_MODE: require
#     RUN_DB_MIGRATION_ON_STARTUP: false
#     DARTS_GATEWAY_URL: https://darts-gateway.staging.platform.hmcts.net
#   secrets:
#     DARTS_API_DB_CONNECTION_STRING:
#       secretRef: darts-api-{{ .Release.Name }}-postgresql
#       key: connectionString
#   job:
#     activeDeadlineSeconds: 300
#     parallelism: 1
#     completions: 1
#   triggers:
#     - type: postgres
#       connectionFromEnv: DARTS_API_DB_CONNECTION_STRING
#       query: "SELECT count(*) FROM darts.media_request WHERE mer_id = ( SELECT mer_id FROM darts.media_request WHERE request_status = 'OPEN' ORDER BY created_ts LIMIT 1 )"
#       targetQueryValue: "0.9"