java:
  applicationPort: 4550
  image: 'sdshmctspublic.azurecr.io/darts/api:latest'
  ingressHost: darts-api.{{ .Values.global.environment }}.platform.hmcts.net
  aadIdentityName: darts
  keyVaults:
    darts:
      secrets:
        - name: GovukNotifyApiKey
          alias: GOVUK_NOTIFY_API_KEY
        - name: darts-api-POSTGRES-USER
          alias: DARTS_API_DB_USERNAME
        - name: darts-api-POSTGRES-PASS
          alias: DARTS_API_DB_PASSWORD
        - name: darts-api-POSTGRES-HOST
          alias: DARTS_API_DB_HOST
        - name: AzureAdB2CTenantIdKey
          alias: AAD-B2C-TENANT_ID_KEY
        - name: AzureAdB2CClientIdKey
          alias: AAD-B2C-CLIENT_ID_KEY
        - name: AzureAdB2CClientSecretKey
          alias: AAD-B2C-CLIENT_SECRET_KEY
        - name: app-insights-connection-string
          alias: app-insights-connection-string

  environment:
    DARTS_API_DB_NAME: "darts"
    NOTIFICATION_SCHEDULER_CRON: "* */2 * * * MON-FRI"
    POSTGRES_SSL_MODE: require
