java:
  readinessPeriod: 5
  terminationGracePeriodSeconds: 65
  applicationPort: 4550
  image: 'sdshmctspublic.azurecr.io/darts/api:latest'
  ingressHost: darts-api.{{ .Values.global.environment }}.platform.hmcts.net
  aadIdentityName: darts
  keyVaults:
    "darts":
      secrets:
        - name: GovukNotifyApiKey
          alias: GOVUK_NOTIFY_API_KEY
        - name: api-POSTGRES-USER
          alias: DARTS_API_DB_USERNAME
        - name: api-POSTGRES-PASS
          alias: DARTS_API_DB_PASSWORD
        - name: api-POSTGRES-HOST
          alias: DARTS_API_DB_HOST
        - name: api-POSTGRES-DATABASE
          alias: DARTS_API_DB_NAME
        - name: api-POSTGRES-SCHEMA
          alias: DARTS_API_DB_SCHEMA
        - name: AzureAdB2CTenantId
          alias: AAD_B2C_TENANT_ID
        - name: AzureAdB2CClientId
          alias: AAD_B2C_CLIENT_ID
        - name: AzureAdB2CClientSecret
          alias: AAD_B2C_CLIENT_SECRET
        - name: app-insights-connection-string
          alias: app-insights-connection-string
        - name: AzureAdB2CFuncTestROPCUsername
          alias: FUNC_TEST_ROPC_USERNAME
        - name: AzureAdB2CFuncTestROPCPassword
          alias: FUNC_TEST_ROPC_PASSWORD
        - name: AzureADFunctionalTestUsername
          alias: AZURE_AD_FUNCTIONAL_TEST_USERNAME
        - name: AzureADFunctionalTestPassword
          alias: AZURE_AD_FUNCTIONAL_TEST_PASSWORD
        - name: AzureAdB2CFuncTestROPCClientId
          alias: AAD_B2C_ROPC_CLIENT_ID
        - name: AzureAdB2CFuncTestROPCClientSecret
          alias: AAD_B2C_ROPC_CLIENT_SECRET
        - name: AzureStorageConnectionString
          alias: AZURE_STORAGE_CONNECTION_STRING
        - name: api-POSTGRES-CONNECTION-STRING
          alias: DARTS_API_DB_CONNECTION_STRING
        - name: AzureADTenantId
          alias: AAD_TENANT_ID
        - name: AzureADClientId
          alias: AAD_CLIENT_ID
        - name: AzureADClientSecret
          alias: AAD_CLIENT_SECRET
        - name: AzureADTenantIdJustice
          alias: AAD_TENANT_ID_JUSTICE
        - name: AzureADClientIdJustice
          alias: AAD_CLIENT_ID_JUSTICE
        - name: AzureADClientSecretJustice
          alias: AAD_CLIENT_SECRET_JUSTICE
        - name: XhibitUserName
          alias: XHIBIT_USER_NAME
        - name: XhibitPassword
          alias: XHIBIT_PASSWORD
        - name: CppUserName
          alias: CPP_USER_NAME
        - name: CppPassword
          alias: CPP_PASSWORD
        - name: DarPcUserName
          alias: DARPC_USER_NAME
        - name: DarPcPassword
          alias: DARPC_PASSWORD
        - name: DarMidTierUserName
          alias: DAR_MIDTIER_USER_NAME
        - name: DarMidTierPassword
          alias: DAR_MIDTIER_PASSWORD
        - name: DartsSystemUserEmail
          alias: SYSTEM_USER_EMAIL
        - name: redis-connection-string
          alias: REDIS_CONNECTION_STRING
        - name: AzureAdB2CFuncTestROPCGlobalUsername
          alias: AZURE_AD_FUNCTIONAL_TEST_GLOBAL_USERNAME
        - name: AzureAdB2CFuncTestROPCGlobalPassword
          alias: AZURE_AD_FUNCTIONAL_TEST_GLOBAL_PASSWORD
        - name: ARMSasEndpoint
          alias: ARM_SAS_ENDPOINT
        - name: DETSSasURLEndpoint
          alias: DETS_SAS_URL_ENDPOINT
        - name: ArmUsername
          alias: ARM_USERNAME
        - name: ArmPassword
          alias: ARM_PASSWORD
        - name: MaxFileUploadSizeInMegabytes
          alias: MAX_FILE_UPLOAD_SIZE_MEGABYTES
        - name: MaxFileUploadRequestSizeInMegabytes
          alias: MAX_FILE_UPLOAD_REQUEST_SIZE_MEGABYTES
        - name: DartsInboundStorageSasUrl
          alias: DARTS_INBOUND_STORAGE_SAS_URL
        - name: DartsUnstructuredStorageSasUrl
          alias: DARTS_UNSTRUCTURED_STORAGE_SAS_URL
        - name: ArmServiceProfile
          alias: ARM_SERVICE_PROFILE
        - name: ArmServiceEntitlement
          alias: ARM_SERVICE_ENTITLEMENT
        - name: ArmStorageAccountName
          alias: ARM_STORAGE_ACCOUNT_NAME
  environment:
    POSTGRES_SSL_MODE: require
    RUN_DB_MIGRATION_ON_STARTUP: false
    DARTS_GATEWAY_URL: http://darts-gateway.{{ .Values.global.environment }}.platform.hmcts.net
    DARTS_PORTAL_URL: https://darts.{{ .Values.global.environment }}.apps.hmcts.net
    TESTING_SUPPORT_ENDPOINTS_ENABLED: false
    AUTOMATED_TASK_MODE: false
    PROCESS_E2E_ARM_RPO: false
    ARM_RPO_DURATION: 1h
    API_MODE: true
    ACTIVE_DIRECTORY_B2C_BASE_URI: https://hmctsstgextid.b2clogin.com
    ACTIVE_DIRECTORY_B2C_AUTH_URI: https://hmctsstgextid.b2clogin.com/hmctsstgextid.onmicrosoft.com
    ARM_URL: http://darts-stub-services.{{ .Values.global.environment }}.platform.hmcts.net
    ARM_AUTH_URL: http://darts-stub-services.{{ .Values.global.environment }}.platform.hmcts.net
    ARM_API_URL: http://darts-stub-services.{{ .Values.global.environment }}.platform.hmcts.net
    FEIGN_LOG_LEVEL: none
    ARM_RPO_THREAD_SLEEP_DURATION: 60s
    ARM_RPO_POLL_DURATION: 4h
    AZCOPY_LOG_LEVEL: "--log-level=ERROR"
    AZCOPY_OUTPUT_LEVEL: "--output-level=essential"
    GRACEFUL_SHUTDOWN_TIMEOUT: '35s'
    ENABLE_ARM_V5_2_UPGRADE: false

function:
  scaleType: Job
  image: 'sdshmctspublic.azurecr.io/darts/api:latest'
  aadIdentityName: darts
  pollingInterval: 60
  minReplicaCount: 0
  maxReplicaCount: 5
  scalingStrategy: accurate
  keyVaults:
    "darts":
      secrets:
        - name: GovukNotifyApiKey
          alias: GOVUK_NOTIFY_API_KEY
        - name: api-POSTGRES-USER
          alias: DARTS_API_DB_USERNAME
        - name: api-POSTGRES-PASS
          alias: DARTS_API_DB_PASSWORD
        - name: api-POSTGRES-HOST
          alias: DARTS_API_DB_HOST
        - name: api-POSTGRES-DATABASE
          alias: DARTS_API_DB_NAME
        - name: api-POSTGRES-SCHEMA
          alias: DARTS_API_DB_SCHEMA
        - name: AzureAdB2CTenantId
          alias: AAD_B2C_TENANT_ID
        - name: AzureAdB2CClientId
          alias: AAD_B2C_CLIENT_ID
        - name: AzureAdB2CClientSecret
          alias: AAD_B2C_CLIENT_SECRET
        - name: app-insights-connection-string
          alias: app-insights-connection-string
        - name: AzureAdB2CFuncTestROPCUsername
          alias: FUNC_TEST_ROPC_USERNAME
        - name: AzureAdB2CFuncTestROPCPassword
          alias: FUNC_TEST_ROPC_PASSWORD
        - name: AzureADFunctionalTestUsername
          alias: AZURE_AD_FUNCTIONAL_TEST_USERNAME
        - name: AzureADFunctionalTestPassword
          alias: AZURE_AD_FUNCTIONAL_TEST_PASSWORD
        - name: AzureAdB2CFuncTestROPCClientId
          alias: AAD_B2C_ROPC_CLIENT_ID
        - name: AzureAdB2CFuncTestROPCClientSecret
          alias: AAD_B2C_ROPC_CLIENT_SECRET
        - name: AzureStorageConnectionString
          alias: AZURE_STORAGE_CONNECTION_STRING
        - name: api-POSTGRES-CONNECTION-STRING
          alias: DARTS_API_DB_CONNECTION_STRING
        - name: AzureADTenantId
          alias: AAD_TENANT_ID
        - name: AzureADClientId
          alias: AAD_CLIENT_ID
        - name: AzureADClientSecret
          alias: AAD_CLIENT_SECRET
        - name: AzureADTenantIdJustice
          alias: AAD_TENANT_ID_JUSTICE
        - name: AzureADClientIdJustice
          alias: AAD_CLIENT_ID_JUSTICE
        - name: AzureADClientSecretJustice
          alias: AAD_CLIENT_SECRET_JUSTICE
        - name: XhibitUserName
          alias: XHIBIT_USER_NAME
        - name: XhibitPassword
          alias: XHIBIT_PASSWORD
        - name: CppUserName
          alias: CPP_USER_NAME
        - name: CppPassword
          alias: CPP_PASSWORD
        - name: DarPcUserName
          alias: DARPC_USER_NAME
        - name: DarPcPassword
          alias: DARPC_PASSWORD
        - name: DarMidTierUserName
          alias: DAR_MIDTIER_USER_NAME
        - name: DarMidTierPassword
          alias: DAR_MIDTIER_PASSWORD
        - name: DartsSystemUserEmail
          alias: SYSTEM_USER_EMAIL
        - name: redis-connection-string
          alias: REDIS_CONNECTION_STRING
        - name: AzureAdB2CFuncTestROPCGlobalUsername
          alias: AZURE_AD_FUNCTIONAL_TEST_GLOBAL_USERNAME
        - name: AzureAdB2CFuncTestROPCGlobalPassword
          alias: AZURE_AD_FUNCTIONAL_TEST_GLOBAL_PASSWORD
        - name: ARMSasEndpoint
          alias: ARM_SAS_ENDPOINT
        - name: DETSSasURLEndpoint
          alias: DETS_SAS_URL_ENDPOINT
        - name: ArmUsername
          alias: ARM_USERNAME
        - name: ArmPassword
          alias: ARM_PASSWORD
        - name: DartsInboundStorageSasUrl
          alias: DARTS_INBOUND_STORAGE_SAS_URL
        - name: DartsUnstructuredStorageSasUrl
          alias: DARTS_UNSTRUCTURED_STORAGE_SAS_URL
        - name: ArmServiceProfile
          alias: ARM_SERVICE_PROFILE
        - name: ArmServiceEntitlement
          alias: ARM_SERVICE_ENTITLEMENT
        - name: ArmStorageAccountName
          alias: ARM_STORAGE_ACCOUNT_NAME
  environment:
    ATS_MODE: true
    API_MODE: false
    NOTIFICATION_SCHEDULER_ENABLED: false
    AUTOMATED_TASK_MODE: false
    POSTGRES_SSL_MODE: require
    RUN_DB_MIGRATION_ON_STARTUP: false
    DARTS_GATEWAY_URL: http://darts-gateway.{{ .Values.global.environment }}.platform.hmcts.net
    ACTIVE_DIRECTORY_B2C_BASE_URI: https://hmctsstgextid.b2clogin.com
    ACTIVE_DIRECTORY_B2C_AUTH_URI: https://hmctsstgextid.b2clogin.com/hmctsstgextid.onmicrosoft.com
    ARM_URL: http://darts-stub-services.{{ .Values.global.environment }}.platform.hmcts.net
    ARM_AUTH_URL: http://darts-stub-services.{{ .Values.global.environment }}.platform.hmcts.net
    ARM_API_URL: http://darts-stub-services.{{ .Values.global.environment }}.platform.hmcts.net
    FEIGN_LOG_LEVEL: none
    IS_MOCK_ARM_RPO_DOWNLOAD_CSV: false
    ARM_RPO_THREAD_SLEEP_DURATION: 60s
    ARM_RPO_POLL_DURATION: 4h
    AZCOPY_LOG_LEVEL: "--log-level=ERROR"
    AZCOPY_OUTPUT_LEVEL: "--output-level=essential"
    ENABLE_ARM_V5_2_UPGRADE: false

  secrets:
    DARTS_API_DB_CONNECTION_STRING:
      secretRef: darts-api-function-values
      key: DARTS_API_DB_CONNECTION_STRING
  job:
    activeDeadlineSeconds: 1800
    parallelism: 1
    completions: 1
  triggers:
    - type: postgres
      connectionFromEnv: DARTS_API_DB_CONNECTION_STRING
      query: "SELECT count(*) FROM darts.media_request WHERE mer_id = ( SELECT mer_id FROM darts.media_request WHERE request_status = 'OPEN' ORDER BY created_ts LIMIT 1 )"
      targetQueryValue: "0.9"

darts-portal:
  enabled: false
darts-gateway:
  enabled: false