java:
  applicationPort: 4550
  image: 'sdshmctspublic.azurecr.io/darts/api:latest'
  ingressHost: darts-api.{{ .Values.global.environment }}.platform.hmcts.net
  aadIdentityName: darts
  keyVaults:
    darts:
      secrets:
        - name: GovukNotifyApiKey
          alias: GOVUK_NOTIFY_API_KEY
        - name: darts-api-POSTGRES-USER
          alias: DARTS_API_DB_USERNAME
        - name: darts-api-POSTGRES-PASS
          alias: DARTS_API_DB_PASSWORD
        - name: darts-api-POSTGRES-HOST
          alias: DARTS_API_DB_HOST
        - name: darts-api-POSTGRES-DATABASE
          alias: DARTS_API_DB_NAME

#        - name: AppInsightsInstrumentationKey
#          alias: azure.application-insights.instrumentation-key
  environment:
    POSTGRES_SSL_MODE: require
